<div>
<p>This guide references the following value sets.</p>
<p>
<a href="ValueSet-bodyLandmarkDescriptionVS.html">bodyLandmarkDescriptionVS</a><br/>
<a href="ValueSet-bodyLocationOrientationVS.html">bodyLocationOrientationVS</a><br/>
<a href="ValueSet-bodyLocationQualifierVS.html">bodyLocationQualifierVS</a><br/>
<a href="ValueSet-bodySideVS.html">bodySideVS</a><br/>
<a href="ValueSet-clockFacePositionVS.html">clockFacePositionVS</a><br/>
<a href="ValueSet-communicationModeVS.html">communicationModeVS</a><br/>
<a href="ValueSet-courseVS.html">courseVS</a><br/>
<a href="ValueSet-episodeVS.html">episodeVS</a><br/>
<a href="ValueSet-intactnessVS.html">intactnessVS</a><br/>
<a href="ValueSet-organizationtypeVS.html">organizationtypeVS</a><br/>
<a href="ValueSet-periwoundConditionVS.html">periwoundConditionVS</a><br/>
<a href="ValueSet-podiatryBodyLandmarkDescriptionVS.html">podiatryBodyLandmarkDescriptionVS</a><br/>
<a href="ValueSet-podiatryWoundAnatomicLocationVS.html">podiatryWoundAnatomicLocationVS</a><br/>
<a href="ValueSet-presentAbsentVS.html">presentAbsentVS</a><br/>
<a href="ValueSet-pressurePointsVS.html">pressurePointsVS</a><br/>
<a href="ValueSet-pressureUlcerAssociationVS.html">pressureUlcerAssociationVS</a><br/>
<a href="ValueSet-qualitativeWoundDepthVS.html">qualitativeWoundDepthVS</a><br/>
<a href="ValueSet-recurrenceVS.html">recurrenceVS</a><br/>
<a href="ValueSet-skinBodyLocationPrecoordVS.html">skinBodyLocationPrecoordVS</a><br/>
<a href="ValueSet-skinBodyTempLocationPrecoordVS.html">skinBodyTempLocationPrecoordVS</a><br/>
<a href="ValueSet-skinColorAssociatedPreconditionVS.html">skinColorAssociatedPreconditionVS</a><br/>
<a href="ValueSet-skinColorVS.html">skinColorVS</a><br/>
<a href="ValueSet-skinDegreeOfMoistureVS.html">skinDegreeOfMoistureVS</a><br/>
<a href="ValueSet-skinIntegrityVS.html">skinIntegrityVS</a><br/>
<a href="ValueSet-skinTempBodyLocationVS.html">skinTempBodyLocationVS</a><br/>
<a href="ValueSet-skinTemperatureAssociatedPreconditionVS.html">skinTemperatureAssociatedPreconditionVS</a><br/>
<a href="ValueSet-skinTemperatureVS.html">skinTemperatureVS</a><br/>
<a href="ValueSet-skinTurgorVS.html">skinTurgorVS</a><br/>
<a href="ValueSet-surfaceOrientationVS.html">surfaceOrientationVS</a><br/>
<a href="ValueSet-trendVS.html">trendVS</a><br/>
<a href="ValueSet-turgorBodyLocationVS.html">turgorBodyLocationVS</a><br/>
<a href="ValueSet-underlyingAnatomicalStructureVS.html">underlyingAnatomicalStructureVS</a><br/>
<a href="ValueSet-woundAnatomicLocationVS.html">woundAnatomicLocationVS</a><br/>
<a href="ValueSet-woundAssessmentInterpretationVS.html">woundAssessmentInterpretationVS</a><br/>
<a href="ValueSet-woundBedAppearanceVS.html">woundBedAppearanceVS</a><br/>
<a href="ValueSet-woundBedColorVS.html">woundBedColorVS</a><br/>
<a href="ValueSet-woundEdgeColorVS.html">woundEdgeColorVS</a><br/>
<a href="ValueSet-woundEdgeDescriptionVS.html">woundEdgeDescriptionVS</a><br/>
<a href="ValueSet-woundExudateAmountDescriptionVS.html">woundExudateAmountDescriptionVS</a><br/>
<a href="ValueSet-woundExudateAppearanceVS.html">woundExudateAppearanceVS</a><br/>
<a href="ValueSet-woundExudateColorVS.html">woundExudateColorVS</a><br/>
<a href="ValueSet-woundExudateOdorVS.html">woundExudateOdorVS</a><br/>
<a href="ValueSet-woundGradationVS.html">woundGradationVS</a><br/>
<a href="ValueSet-woundInternalItemOrBodyStructureVisibleVS.html">woundInternalItemOrBodyStructureVisibleVS</a><br/>
<a href="ValueSet-woundMeasurementDeviceVS.html">woundMeasurementDeviceVS</a><br/>
<a href="ValueSet-woundTypeEtiologyVS.html">woundTypeEtiologyVS</a><br/>
<a href="ValueSet-woundTypeVS.html">woundTypeVS</a><br/>
<a href="ValueSet-yesNoVS.html">yesNoVS</a><br/>
</p>
</div>
